@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url(/variaveis/variables.scss);
$header-title-font-size: 25px;
$transition-title: 55px;
$transition-subtitle: 27px;

@mixin page-icon-size() {
    width: 68px;
    height: 68px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Share Tech", sans-serif;
    color: white;
}

body {
    background-color: black;

    & a {
        border-left: white 1px solid;

        & :hover {
            cursor: pointer;
        }
    }

    & table {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: 6;

        & button {
            font-size: $header-title-font-size;
            background: none;
            border: none;
            padding: 0px 85px 0px 85px;
        }
    }

    & td {
        width: 20vw;
        font-size: $header-title-font-size;
    }

    & img {
        height: 40px;
        width: 40px;
        margin: 25px 15px 20px 15px;
    }

    & #imgH {
        display: flex;
        align-items: center;
        font-size: $header-title-font-size;
        border: none;
        margin-top: 7px;
    }
    & h1{
        margin-left: 57px;
        font-size: 40px;
    }

    & article {
        margin-left: 20px;
        font-size: 40px;
        align-items: center;
        display: flex;
        & img{
            width: 120px;
            height: 120px;
            background-color: white;
         }

        & p {
            width: 80%;

        }
    }
}